@import url('https://fonts.googleapis.com/css2?family=Kaisei+HarunoUmi&family=Montserrat:ital,wght@0,300;1,200&family=Poppins:ital,wght@0,200;0,600;1,100&family=Quicksand:wght@400;500&display=swap'); 

*{
    font-family: 'Poppins' ,sans-serif ;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

 /* -- Colors -- */
:root{
    --body-color: #e4e9f7;
    --sidebar-color: #fff;
    --primary-color: #264920;
    --primary-color-light: #f6f5ff;
    --toggle-color: #ddd;
    --text-color: #707070;

    /* Transitions */
    --trans-02: all 0.4s ease ; 
    --trans-03: all 0.3s ease ;
    --trans-04: all 0.4s ease ;
    --trans-05: all 0.5s ease ;

}

body{
    height: 100vh;
    background: var(--body-color);
}
/* Sidebar Start */
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    background: var(--sidebar-color);
}

/* REUSABLE CSS */
.sidebar .text{
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color);
}

.sidebar .image{
    min-width: 60px;
    display: flex;
    align-items: center;
}

.sidebar li{
    height: 50px;
    margin: 10px;
    list-style: none;
    display: flex;
    align-items: center;
}

.sidebar li .icon{
    display: flex;
    align-items: center;
    min-width: 60px;
    font-size: 20px;
}

.sidebar li .icon,
.sidebar li .text{
    color: var(--text-color);
    transition: var(--trans-02);
}

.sidebar header{
    position: relative;
}
.sidebar image-text img{
    width: 10px;
    border-radius: 6px;
} 

.sidebar header .image-text{
    display: flex;
    align-items: center;
}

header .image-text .header-text{
    display: flex;
    flex-direction: column;
}

header-text .name{
    font-weight: 600;
}

.header-text .profession{
    margin-top: -2px;
}

.sidebar header .toggle{
    position: absolute;
    top: 50%;
    right:-14px ;
    transform: translateY(-50%);
    height: 25px;
    width: 25px;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--toggle-color);
    font: 22px;
}

/* Search Box */
.sidebar .search-box{
    background: var(--primary-color-light);
}
.search-box input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 6px;
    background: var(--primary-color-light);
}
.sidebar li a{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center ;  
    text-decoration: none;
    border-radius: 6px;
    transition: var(--trans-04);
}
/* Hover */
.sidebar li a:hover{
    background: var(--primary-color);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text{
    color: var(--sidebar-color);
}

.sidebar .menu-bar{
    background:red;
    height: 100;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}