@import url('https://fonts.googleapis.com/css2?family=Kaisei+HarunoUmi&family=Montserrat:ital,wght@0,300;1,200&family=Poppins:ital,wght@0,200;0,600;1,100&family=Quicksand:wght@400;500&display=swap'); 

*{
    font-family: 'Poppins' ,sans-serif ;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

 /* -- Colors -- */
:root{
    --body-color: #e4e9f7;
    --sidebar-color: #fff;
    --primary-color: #695CFE;
    --primary-color-light: #f6f5ff;
    --toggle-color: #ddd;
    --text-color: #707070;

    /* Transitions */
    --trans-03: all 0.4s ease ; 
    --trans-03: all 0.3s ease ;
    --trans-04: all 0.4s ease ;
    --trans-05: all 0.5s ease ;

}

body{
    height: 100vh;
    background: var(--body-color);
}

/* Reusable CSS*/
.sidebar .text{
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color);
}

.sidebar .image{
    min-width: 60px;
    display: flex;
    align-items: center;
}

/* Sidebar Start */
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    background: var(--sidebar-color);
}

.sidebar image-text img{
    width: 10px;
    border-radius: 6px;
} 

.sidebar header .image-text{
    display: flex;
    align-items: center;
}

header .image-text .header-text{
    display: flex;
    flex-direction: column;
}

header-text .name{
    font-weight: 600;
}

.header-text .profession{
    margin-top: -2px;
}